In [1]:
#import pandas, read in csv, view data table with new column headers
import pandas as pd 

delta = pd.read_csv("Delta Airline Data.csv")

delta.columns = ["Date", "Flight_Number", "Destination_Airport", "Airborne_Time", "Distance_(miles)", "City_ID" ]

delta

,Date,Flight_Number,Destination_Airport,Airborne_Time,Distance_(miles),City_ID
0,1,1125N660DL,ABQ,179,1267,1
1,1,1589N678DL,ABQ,183,1267,1
2,2,833N659DL,ABQ,172,1267,1
3,2,1125N656DL,ABQ,181,1267,1
4,2,1589N665DN,ABQ,184,1267,1
...,...,...,...,...,...,...
17717,30,370N914DL,VPS,47,250,93
17718,31,1455N911DL,VPS,39,250,93
17719,31,1803N907DL,VPS,41,250,93
17720,31,1011N972DL,VPS,42,250,93
17721,31,370N973DL,VPS,43,250,93

In [2]:
#split head and tail column 
new = delta["Flight_Number"].str.split("N", n = 1, expand = True) #new dataframe with split column values

#rename new columns
delta["Fight"]= new[0]
delta["Tail_Number"]= new[1] 

#remove column "Flight_Number"
delta.drop(columns =["Flight_Number"], inplace = True)

In [6]:
#add 'N' to Tail Number ID
delta['Tail_Number'] = 'N'+delta["Tail_Number"].astype(str)

In [8]:
#descriptive stats
delta[["Airborne_Time", "Distance_(miles)"]].describe()

       Airborne_Time  Distance_(miles)
count   17722.000000      17722.000000
mean      100.954125        722.927378
std        67.284206        527.407262
min        22.000000        134.000000
25%        58.000000        405.000000
50%        79.000000        576.000000
75%       113.000000        812.000000
max       577.000000       4496.000000

In [10]:
#value counts for each airport 
delta['Destination_Airport'].value_counts()

LGA    487
PHL    453
DFW    426
TPA    403
DCA    402
      ...
ELP     31
STT     31
GRR     26
MYR     23
GPT      5
Name: Destination_Airport, Length: 93, dtype: int64

In [15]:
#find the airport with the largest discrepency between airborne time and distance
disc =  (delta['Airborne_Time']-delta['Distance_(miles)']).abs().idxmax()

disc

5934

In [14]:
#print information from index 5934
print(delta.iloc[5934])

Date                       13
Destination_Airport       HNL
Airborne_Time             505
Distance_(miles)         4496
City_ID                    30
Fight                     317
Tail_Number            N828MH
Name: 5934, dtype: object